# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.*

# env
.env
.env.*
!.example.env

# turbo
.turbo/
**/.turbo/

# next.js
.next/
**/.next/
out/
**/out/
next-env.d.ts

# production/build outputs
build/
**/build/
dist/
**/dist/

# testing/coverage
coverage/
**/coverage/

# app data
data/
**/data/

# logs
*.log

# editor/os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# secrets/certs
*.pem
*.key
*.crt

# vercel
.vercel/
**/.vercel/

# typescript
*.tsbuildinfo